*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

.fundo{
    background-image: url('https://external-preview.redd.it/JLtHT59hBhbaLxnZ2XDyXuhz3AWKzsl59dIj8oOjQZY.jpg?auto=webp&s=1d68edf86c886d6cdce7f8e8ce0b68688d2cfd66'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
    justify-content: center;
}