*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

table{
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    margin:0 auto;
    margin-top: 1%;
}

th {
    margin-bottom: 3%;
}

td {
    padding: 0px 10px;
}

button {
    border: 0;
    border-radius: 5px;
    background-color: rgb(189, 189, 189); 
    padding: 1%;
    color:black;
}

.button { 
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

.icons_actions:hover {
    background-color: rgb(75, 75, 75);
}

button:hover {
    background-color: rgb(75, 75, 75);
}

.icons_actions {
    width: 25px;
    padding: 3%;
    vertical-align: middle;
    background-color:  rgb(189, 189, 189);
    border-radius: 5px;
    margin:12px;
}

#deleteIcon {
    margin-right:0;
}
